* {
    box-sizing: border-box;
}

:root {
    -- primary: #BFF6FD; 
    -- secondary: #5A6B87;
    -- tertiary: #313131;
    font-size: 62.5%;
}

body {
    background: #83929F;
    color: var(--tertiary);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: #83929F;
    padding: 30px 25px;
    border-bottom: 5px solid var(--secondary);
    font-size: larger;
    font-weight: bold;
}

header p {
    color: #BFF6FD;
    font-style: italic;
    font-size: large;
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: #BFF6FD;
    font-size: 2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px #83929F;
}